DOMAIN: x3huang.dev
IMAGE_REPOSITORY: {{ env "IMAGE_REPOSITORY" | default "" }}
IMAGE_TAG: {{ env "IMAGE_TAG" | default "" }}
GTC_NODE: "active-nerd-2.localdomain"
ISSO_NODE: "active-nerd-2.localdomain"