# helmfile.yaml
helmDefaults:
  timeout: 3600
  wait: true
  atomic: true

# Environment-specific settings
environments:
  default:
    values:
      - values/default.yaml.gotmpl
  prod:
    values:
      - values/prod.yaml.gotmpl

---
releases:
  - name: frontend
    namespace: frontend
    chart: ./chart
    values:
      - values/{{ .Environment.Name }}.yaml.gotmpl
